.topPicksHeader {
  text-align: center;
  margin: 2rem;
}

.topPicksContainer {
  margin: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

.card {
  border-style: none;
  width: 18rem;
}

/* .card img {
  height: 220px;
  width: 270px;
} */

@media (max-width: 600px) {
  .topPicksContainer {
    flex-direction: column;
  }
}
